{% extends 'all/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content_body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="row">
        <div class="col-md-4">
            <h5>Доля продаж производителей</h5>
            <canvas id="manufacturer_pie"></canvas>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const ctx = document.getElementById('manufacturer_pie');
                    new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: {{ labels2|safe }},
                            datasets: [{
                                label: 'Доли продаж производителей в шт',
                                backgroundColor: ["#0dcaf0", "#0BB5D8","#0AA1C0","#098DA8","#077990"],
                                data: {{ data2|safe }},
                                borderWidth: 1
                            }]
                        },
                        options: {
                             responsive: true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        },
                        plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                var label = context.label || '';
                                var value = context.formattedValue;
                                var percent = context.dataset.data[context.dataIndex] / context.dataset.data.reduce((a, b) => a + b) * 100;

                                return label + ': ' + value + ' (' + percent.toFixed(2) + '%)';
                            }
                        }
                    }
                }
                    });
                });
            </script>
        </div>

        <div class="col-md-8">
            <h5>Сумма продаж по Федеральным округам</h5>
            <canvas id="lineRegion"></canvas>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const ctx = document.getElementById('lineRegion');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ labels1|safe }},

                            datasets: [{
                                label: 'Руб',
                                borderColor: "rgba(10, 161, 192, 0.9)",
                                pointBorderColor: "rgba(10, 161, 192, 0.9)",
                                pointBackgroundColor: "#077990",
                                backgroundColor: "rgba(10, 161, 192, 0.1)",
                                fill: true,
                                data: {{ data1|safe }},
                                tension: 0.4,
                                borderWidth: 1
                            }]
                        },
                        options: {
        responsive: true, // Адаптивность размеров
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                });
            </script>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h5>Сумма продаж (шт, руб/100) продуктов Аванты</h5>
            <canvas id="horBar"></canvas>
            <script>
            Chart.defaults.font.size = 10;
                document.addEventListener('DOMContentLoaded', function () {
                    const ctx = document.getElementById('horBar').getContext('2d');
                    new Chart(ctx, {
                        data: {
                            labels: {{ labels3|safe }},
                            datasets: [{
                                type: 'bar',
                                backgroundColor: "#0dcaf0",
                                label: 'Количество проданных штук',
                                data: {{ quantities_sold|safe }}
                            },
                            {
                                type: 'bar',
                                backgroundColor: "#077990",
                                label: 'Продажи в рублях (/100)',
                                data: {{ sales_in_rubles|safe }}
                            }],
                        },
                        options: {
                            responsive: true,
                            indexAxis: 'y',
                            responsive: true,
                            scales: {
                                x: {
                                    beginAtZero: true,
                                },

                            y: {
                                fontSize: 1,
                               },
                            },
                        },
                    });
                });
            </script>
        </div>

        <div class="col-md-6">
            <h5>Статистика брендов Аванта (руб, шт)</h5>
            <canvas id="bubbleChart"></canvas>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const ctx = document.getElementById('bubbleChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'bubble',
                        data: {
                            labels: {{ labels4|safe }},
                            datasets: [{
                                label: 'Сумма продаж',
                                data: {{ data4|safe }},
                                backgroundColor: [
                                                  "rgba(13, 202, 240, 0.6)",
                                                  "rgba(11, 181, 216, 0.6)",
                                                  "rgba(10, 161, 192, 0.6)",
                                                  "rgba(9, 141, 168, 0.6)",
                                                  "rgba(7, 121, 144, 0.6)",
                                                ],
                                borderWidth: 1,
                            }],
                        },
                        options: {
                        responsive: true,
                            scales: {
                                x: {
                                    type: 'linear',
                                    position: 'bottom',
                                    title: {
                                        display: true,
                                        text: 'Сумма продаж',
                                    },
                                },
                                y: {
                                    title: {
                                        display: true,
                                        text: 'Количество проданных штук',
                                    },
                                },
                            },
                        },
                    });
                });
            </script>
        </div>
    </div><br><br>
{% endblock %}
