{% extends 'all/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content_body%}
    <h1>Добро пожаловать на сайт компании АвантаТрейдинг!</h1>

    <h5><br><br><br><br><br>Нажмите на кнопку "Войти" в правом верхнем углу. После аутентификации на сайте вы получите доступ к данным
    продаж компании. По всем вопросам обращайтесь к администратору сайта (контакты указаны ниже).</h5>

    <h4><br><br><br><br><hr><br>По вопросам предоставления доступа к данным продаж обращайтесь к специалисту отдела Бизнес-аналитики
    и информации Часовских Анне chasovskih@domen.ru</h4>
    <p><i><br>Данный информационный портал предназначен только для сотрудников отдела продаж Аванты.
    Если Вы ошибочно попали на сайт, рекомендуем покинуть его.</i></p>

{% endblock %}
